<mat-card class="message-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to live chat demo</mat-card-title>
    <mat-card-subtitle>username: {{ username }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="message-content">
      <ng-container #messageList></ng-container>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field class="message-input" (keydown)="onKeyDown($event, content)">
      <mat-label>Input message</mat-label>
      <textarea #content matInput></textarea>
    </mat-form-field>
    <button mat-button (click)="sendMessage(content)" >SEND</button>
  </mat-card-actions>
</mat-card>
